*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: rgb(194, 194, 39);
    color: black;
    padding-top: 4%;
    padding-left: 11%;
}

.container h1{
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: 700;
}

.container h1 img{
    width: 40px;
}

.container button img{
    width: 25px;
    margin-right: 10px;
}

.container button{
    display: flex;
    align-items: center;
    background: rgb(190, 47, 174);
    color: black;
    font-size: 16px;
    font-weight: 400;
    outline: 0;
    border: 0;
    border-radius: 40px;
    padding: 15px 25px;
    margin-top: 20px;
    cursor: pointer;
}

.input-box{
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    background: white;
    color: #333;
    padding: 20px;
    margin: 30px 0;
    outline: none;
    border-radius: 5px;
}

.input-box img{
    width: 25px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}
